/* body {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100vh;
    background-color: #f8f9fa;
} */
.form-container {
    width: 300px;
    padding: 20px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
.form-container h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}
.form-group {
    margin-bottom: 15px;
}
.forgot-password {
    font-size: 0.8em;
    text-align: left;
    display: inline-block;
}
.create-account {
    font-size: 0.8em;
    float: right;
    margin-top: 4px;
}
.btn-sign-in {
    width: 100%;
    margin-top: 10px;
}
